<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="dist/reset.css">
		<link rel="stylesheet" href="dist/reveal.css">
		<link rel="stylesheet" href="dist/theme/black.css">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="plugin/highlight/monokai.css">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h2>Vue.JS avancé</h2>
				</section>
				<section>
					<h2>Récupérer de la données d'une API</h2>
					<pre><code>import { ref, onMounted } from 'vue'

export default {
  setup() {
    const products = ref([]) // tableau réactif pour stocker les produits

    onMounted(async () => { // hook de cycle de vie appelé après le montage du composant
      const response = await fetch('https://api.example.com/products')
      products.value = await response.json()
    })

    return { products } // expose la variable products au template
  }
}
					</code></pre>
				</section>
				<section>
					<h2>v-for avec fetch</h2>
					<pre><code>&lt;template&gt;
  &lt;div&gt;
	&lt;ul&gt;
	  &lt;li v-for="product in products" :key="product.id"&gt;
		{{ product.name }}
	  &lt;/li&gt;
	&lt;/ul&gt;
  &lt;/div&gt;
&lt;/template&gt;

					</code></pre>
				</section>
				<section>
					<h2>v-if & v-else</h2>
					<pre><code>&lt;template&gt;
  &lt;div&gt;
	&lt;div v-if="products.length > 0"&gt;
	  &lt;ul&gt;
		&lt;li v-for="product in products" :key="product.id"&gt;
		  {{ product.name }}
		&lt;/li&gt;
	  &lt;/ul&gt;
	&lt;/div&gt;
	&lt;div v-else&gt;
	  Chargement des produits...
	&lt;/div&gt;
  &lt;/div&gt;
&lt;/template&gt;
					</code></pre>
				</section>
				<section>
					<h2>v-on & @</h2>
					<p>Les directives v-on et @ sont utilisées pour écouter les événements.</p>
					<pre><code><!--
&lt;template&gt;
  &lt;div&gt;
		&lt;button v-on:click="handleClick"&gt;Cliquez-moi&lt;/button&gt;
		ou
    &lt;button @click="handleClick"&gt;Cliquez-moi&lt;/button&gt;
  &lt;/div&gt;
&lt;/template&gt;

<script setup>
import { ref } from 'vue'

const count = ref(0)

function handleClick() {
  count.value++
}
</script>
-->
					</code></pre>
				</section>
			</div>
		</div>

		<script src="dist/reveal.js"></script>
		<script src="plugin/notes/notes.js"></script>
		<script src="plugin/markdown/markdown.js"></script>
		<script src="plugin/highlight/highlight.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
			});
		</script>
	</body>
</html>